.footer{
    width: 100%;
    background-color: var(--fg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-section{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}


.subfooter{
    height: 5%;
    width: 100%;
    display: flex;
}

#footer-logo{
    width: 50%;
}

.footer-links{
    padding: 5px;
    text-decoration: none;
    color: var(--primary);
}

.footer-links a:visited{
    text-decoration: none;
    color: var(--primary);
}

.footer-links:hover{
    cursor: pointer;
    transition: 100ms ease;
    transform: translateY(-5px);
    transition: transform .3s;
}

.social-btn:hover{
    cursor: pointer;
    transition: 100ms ease;
    transform: translateY(-5px);
    transition: transform .3s;
}

.clear {
    display: flex;
    justify-content: center;
    padding: 1.5%;
}

.mc-field-group.text-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

#mc-embedded-subscribe{
    border-radius: 5px;
    padding: 7px;
    background-color: var(--primary);
    color: var(--BAFWhite);
    border: none;
}

#mc-embedded-subscribe:hover{
    background-color: var(--secondary);
    color: var(--primary);
    cursor: pointer;
    transition: 100ms ease;
    transform: translateY(-5px);
    transition: transform .3s;

}

@media only screen and (min-width: 600px) {
    .footer-content{
        flex-direction: row;
    }

}