@import '/css/navbar.css';
@import '/css/footer.css';
@import '/css/index.css';


/* Color Variables Go Here */
:root {

--bafWhite: #ffff;
--bafDarkWhite: #f7f7f7;
--bafBlack: #0C171D;
--bafGrey: #18262F;
--bafDarkGrey: #2b3a46;
--bafBlue: #003262;
--bafLightBlue: #87D3DD;

--bafHoverLight: #ddd;
--bafHoverDark: rgb(96, 100, 107);

--bafShadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
--bafShadowHover: 0 7px 5px -6px rgb(0 0 0 / 40%), 0 6px 6px 0 rgb(0 0 0 / 28%), 0 5px 9px 0 rgb(0 0 0 / 24%);

--drawing-fill-pronounced: rgb(255, 255, 255, 40%);
--drawing-fill-subdued: rgb(255, 255, 255, 25%);

/*Images*/
--logo-img-light: url('/img/BAF-Branding/logonavbar.png');
--logo-img-dark: url('/img/BAF-Branding/logonavbar-dark.png');
--donation-btc: url('/img/btc.svg');
--donation-eth: url('/img/ethereum.svg');
--donation-dai: url('/img/dai.svg');
--donation-btc-light: url('/img/btc-light.svg');
--donation-eth-light: url('/img/ethereum-light.svg');
--donation-dai-light: url('/img/dai-light.svg');
--sponsors-algorand-lightmode: url('/img/donors/algorand2.png');
--sponsors-algorand-darkmode: url('/img/donors/algorand-white.png');
--sponsors-protocol-lightmode: url('/img/donors/protocol-labs.png');
--sponsors-protocol-darkmode: url('/img/donors/protocol-labs-white.png');
--gitcoin-logo: url('/img/gitcoin-logo.svg');
--gitcoin-logo-darkmode: url('/img/gitcoin-logo-darkmode.svg');
--transparent-logo: url('/img/Backgrounds/Transparent-Logo.png');
--transparent-logodark: url('/img/Backgrounds/Transparent-LogoDark.png');

}

.light {  
    /*Color Profile for Light Mode*/
    --bg: var(--bafWhite);
    --fg: var(--bafWhite);
    --fgDark: var(--bafDarkWhite);
    --primary: var(--bafBlue);
    --secondary: var(--bafLightBlue);
    --textNormal: var(--bafBlack);
    --textAlternative: var(--bafWhite);
    --switch: var(--bafLightBlue); /*Switch variable is for an element that is primary in light and secondary in dark*/

    /*navBar Color*/
    --navLinkHover: var(--bafHoverLight);

    /*Cards Color Palette*/
    --fgElementPrimary: var(--primary);
    --fgElementSecondary: var(--secondary);
    --elementHeadingPrimary: var(--secondary);
    --elementTextPrimary: var(--textAlternative);
    --elementHeadingSecondary: var(--primary);
    --elementTextSecondary: var(--textNormal);

    /*Sections Color Palette*/
    --sectionBG: var(--primary);
    --sectionBGAlt: var(--secondary);
    --sectionHeading: var(--secondary);
    --sectionPrimaryText: var(--textAlternative);

    /*Social Buttons*/
    --social: var(--primary);

    /*Images*/
    --logo-img: var(--logo-img-light);
    --btc-donation: var(--donation-btc);
    --eth-donation: var(--donation-eth-light);
    --dai-donation: var(--donation-dai);
    --sponsors-protocol-labs: var(--sponsors-protocol-lightmode);
    --sponsors-algorand: var(--sponsors-algorand-lightmode);
    --gitcoin-banner-logo: var(--gitcoin-logo);
    --transparent-bg: var(--transparent-logo);

    --drawing-color: var(--drawing-fill-pronounced);
}

.dark-theme {
    /*Color Profile for Dark Mode*/
    --bg: var(--bafBlack);
    --fg: var(--bafGrey);
    --fgDark: var(--bafDarkGrey);
    --primary: var(--bafLightBlue);
    --secondary: var(--bafBlue);
    --textNormal: var(--bafWhite);
    --textAlternative: var(--bafBlack);
    --switch: var(--bafBlue); /*Switch variable is for an element that is primary in light and secondary in dark*/

    /*navBar Color*/
    --navLinkHover: var(--bafHoverDark);

    /*Cards Color Palette*/
    --fgElementPrimary: var(--primary);
    --fgElementSecondary: var(--fg);
    --elementHeadingPrimary: var(--secondary);
    --elementTextPrimary: var(--textAlternative);
    --elementHeadingSecondary: var(--primary);
    --elementTextSecondary: var(--textNormal);

    /*Sections Color Palette*/
    --sectionBG: var(--fg);
    --sectionBGAlt: var(--primary);
    --sectionHeading: var(--primary);
    --sectionPrimaryText: var(--textNormal); /*this is for a section that has a color that's not bg as background*/

    /*Social Buttons*/
    --social: var(--bafWhite);
    /*Images*/
    --logo-img: var(--logo-img-dark);
    --btc-donation: var(--donation-btc-light);
    --eth-donation: var(--donation-eth);
    --dai-donation: var(--donation-dai-light);
    --sponsors-protocol-labs: var(--sponsors-protocol-darkmode);
    --sponsors-algorand: var(--sponsors-algorand-darkmode);
    --gitcoin-banner-logo: var(--gitcoin-logo-darkmode);
    --transparent-bg: var(--transparent-logodark);
    --drawing-color: var(--drawing-fill-subdued);
}

/* Fonts & Text */
@font-face {
	font-family: 'Futura';
	src: url("/fonts/Futura.woff");
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Futura', sans-serif;
    color: var(--primary);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5{
    font-size: 1.5rem;
}

p, a, li {
    font-size: 1.4rem;
    font-family: 'futura', sans-serif;
    color: var(--textNormal);
}