@import '/css/navbar.css';
@import '/css/footer.css';
@import '/css/index.css';


/* Color Variables Go Here */
:root {

--bafWhite: #ffff;
--bafBlack: #0C171D;
--bafGrey: #18262F;
--bafBlue: #003262;
--bafLightBlue: #87D3DD;

--bafHoverLight: #ddd;
--bafHoverDark: rgb(96, 100, 107);


/*Images*/
--logo-img-light: url('/img/BAF-Branding/logonavbar.png');
--logo-img-dark: url('/img/BAF-Branding/logonavbar-dark.png');

}

.light {  
    /*Color Profile for Light Mode*/
    --bg: var(--bafWhite);
    --fg: var(--bafWhite);
    --primary: var(--bafBlue);
    --secondary: var(--bafLightBlue);
    --textNormal: var(--bafBlack);
    --textAlternative: var(--bafWhite);
    --switch: var(--bafLightBlue); /*Switch variable is for an element that is primary in light and secondary in dark*/

    /*navBar Color*/
    --navLinkHover: var(--bafHoverLight);

    /*Cards Color Palette*/
    --fgElementPrimary: var(--primary);
    --fgElementSecondary: var(--secondary);
    --elementHeadingPrimary: var(--secondary);
    --elementTextPrimary: var(--textAlternative);
    --elementHeadingSecondary: var(--primary);
    --elementTextSecondary: var(--textNormal);

    /*Sections Color Palette*/
    --sectionBG: var(--primary);
    --sectionBGAlt: var(--secondary);
    --sectionHeading: var(--secondary);
    --sectionPrimaryText: var(--textAlternative);

    /*Social Buttons*/
    --social: var(--primary);

    /*Images*/
    --logo-img: var(--logo-img-light);
}

.dark-theme {
    /*Color Profile for Dark Mode*/
    --bg: var(--bafBlack);
    --fg: var(--bafGrey);
    --primary: var(--bafLightBlue);
    --secondary: var(--bafBlue);
    --textNormal: var(--bafWhite);
    --textAlternative: var(--bafBlack);
    --switch: var(--bafBlue); /*Switch variable is for an element that is primary in light and secondary in dark*/

    /*navBar Color*/
    --navLinkHover: var(--bafHoverDark);

    /*Cards Color Palette*/
    --fgElementPrimary: var(--primary);
    --fgElementSecondary: var(--fg);
    --elementHeadingPrimary: var(--secondary);
    --elementTextPrimary: var(--textAlternative);
    --elementHeadingSecondary: var(--primary);
    --elementTextSecondary: var(--textNormal);

    /*Sections Color Palette*/
    --sectionBG: var(--fg);
    --sectionBGAlt: var(--primary);
    --sectionHeading: var(--primary);
    --sectionPrimaryText: var(--textNormal); /*this is for a section that has a color that's not bg as background*/

    /*Social Buttons*/
    --social: var(--bafWhite);
    /*Images*/
    --logo-img: var(--logo-img-dark);
}

/* Fonts & Text */
@font-face {
	font-family: 'Futura';
	src: url("/fonts/Futura.woff");
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Futura', sans-serif;
    color: var(--primary);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5{
    font-size: 1.5rem;
}

p, a {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    color: var(--textNormal);
}