{{partial "head.html" . }}

{{partial "navbar.html" . }}

<main>

    <body class = "light">
        <h1 style = "padding-left: 2%;">{{ .Title }}</h1>

        <div class = "list-container">
            {{ range (.Paginate ( first 12 .Pages.ByDate )).Pages }}

            <a class = "content-card-container"  href = "{{ .RelPermalink }}">
                <div class = "content-card">

                    {{ with .Param "featured_image" }}
                        <img src = "{{ . }}">
                    {{ end }}

                    <div class = "content-info">
                        <h3>{{ .Title }}</h3>
                        <p>by {{ .Param "author" }}</p>
                        <p> {{ .Summary }} </p>

                        <div class = "post-cat"> {{ if .Params.categories }}
                            {{range .Params.categories}}
                            <button class = "post-btn" id = "cat-btn" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}"><h5 style = "margin: 0; color: white;">A {{ . | singularize}}</h5></button> 
                            {{end}}
                            {{end}} 
                        </div>
            
                        <div class = "post-tag"> {{ if .Params.tags }}
                            {{range .Params.tags}}
                            <button  class = "post-btn" id = "tag-btn" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</button> 
                            {{end}}
                            {{end}} 
                        </div>
                    </div>

                </div>
            </a>
            {{end}}
        </div>

        <div class = "paginate-div">
            {{ template "_internal/pagination.html" . }}
        </div>
    </body>

</main>

{{partial "footer.html" . }}

<style>

    .list-container{
        display: flex;
        flex-wrap: wrap;
        width: 98%;
        padding-left: 2%;
        padding-bottom: 4%;
    }

    .content-card-container{
        display: flex;
        border-radius: 8px;
        box-shadow: var(--bafShadow);
        margin: 10px;
        text-decoration: none;
        background-color: var(--fgDark);
        width: 47%;
    }

    .content-card{
        display: flex;
    }

    .content-card img{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        width:50%;
    }

    .content-info{
        display: flex;
        flex-direction: column;
        padding-left: 1.5%;
        padding-bottom: 1.5%;
    }

    .content-info h3{
        margin: 0;
        padding-top: 1.5%;
    }

    .post-btn{
        min-width: 5%;
        margin-bottom: 5px;
        font-size: 1rem;
        border-radius: 7px;
        color: white;
        border: none;
    }

    .post-cat{
        width: fit-content;
    }

    #cat-btn{
        background-color: var(--primary);
    }

    #tag-btn{
        background-color: var(--secondary);
    }

</style>