{{partial "head.html" . }}

{{partial "navbar.html" . }}

<main>

    <body class = "light">
            
            <div class = "about-body" id = "OurFoundation" style = "background-image: url('/img/Backgrounds/bg-about.png');">
                <h1>The Foundation</h1>
                <p id = "about-info">The Blockchain Acceleration Foundation (BAF) is a 501(c)(3) nonprofit organization composed of students, professors, blockchain advocates, developers, and those who are committed to the mass adoption of cryptocurrency, and a user-owned internet. BAF educates members about blockchain development, sources sponsors and speakers for university-affiliated blockchain clubs, launches startups, and supports academic blockchain researchers.
                    <br><br> We source donations to start university-accredited blockchain courses to ensure that the next generation of blockchain experts and users can effectively navigate this rapidly changing industry. BAF hosts engaging and educational networking events, runs hackathons and conferences, and cultivates collaboration between academic researchers around the world. BAF is uniquely positioned as a nonprofit that benefits student blockchain organizations, and has thus far partnered with nine universities across California and Mexico.​
                    </p>
            </div>

            <div class = "about-body" id = "OurValues">
                <h1>Our Values</h1>
                <div class = "cards-container" id = "value-cards-container">

                    <div class = "value-card">
                        <h3>Collaboration & Teamwork</h3>
                        <p>We believe that high-quality human capital is the most valuable resource. Since our university-affiliated blockchain clubs are all doing similar work, it is advantageous to encourage collaboration and ensure that best practices and industry contacts are shared during our wide variety of events. It is imperative for us to work together to achieve blockchain adoption.</p>
                    </div>

                    <div class = "value-card">
                        <h3>Growth Progress & Optimism</h3>
                        <p>Proactive optimism is a prerequisite to conquer the most significant challenges that threaten society and our beautiful planet. We take a data-driven and objective approach to bettering ourselves so we can contribute the most to our greater communities.
                            <br><br>
                            “We are called to be the architects of the future, not its victims.” - Buckminster Fuller
                            </p>
                    </div>

                    <div class = "value-card">
                        <h3>Inclusivity & Diversity</h3>
                        <p>We see diversity and inclusivity as a competitive edge and key enabler. For mass adoption to occur, we need people from all races, genders, ethnicities, income levels, and geographies to build decentralized applications designed for everyone. Despite blockchains’ inherent borderless and non-discriminatory nature, the industry is largely dominated by men. We are committed to working with people from all backgrounds to expand economic inclusion and democracy.</p>
                    </div>

                    <div class = "value-card">
                        <h3>Ownership & Accountability</h3>
                        <p>Since nobody gets paid, our team holds reputation and project ownership to an incredibly high standard. Through team meetings and collaboration initiatives, we keep each other accountable to ensure the highest quality of work and commitment to personal growth.</p>
                    </div>
                </div>
            </div>

            <div class = "about-body" id = "OurTeam">
                <h1>The Team</h1>

                <h2>Core Members</h2>
                
                <div class = "cards-container" id = "team-members-container">

                    <div class = "team-card">
                        <h3>Team Member</h3>
                        <p>Words</p>
                    </div>
                    
                </div>

                <h2>Board Members</h2>

                <div class = "cards-container" id = "team-members-container">

                    <div class = "team-card">
                        <h3>Team Member</h3>
                        <p>Words</p>
                    </div>
                    
                </div>

                <h2>Advisors</h2>

                <div class = "cards-container" id = "team-members-container">

                    <div class = "team-card">
                        <h3>Team Member</h3>
                        <p>Words</p>
                    </div>
                    
                </div>

            </div>

            <div class = "home-banner" id = "join-us">
                <h3>Ready to join?</h3>
                <i class="fa fa-long-arrow-right fa-4x" aria-hidden="true" id = "join-us-arrow" style = "color: white;"></i>
                <button id = "join-button"><a href = "/members/" style = "color: white; text-decoration: none;">Become a member</a></button>
            </div>

            <div class = "about-body" id = "FAQ">
                <h1>Frequently Asked Questions</h1>
                <div id="accordionWrapper">

                    <div class="accordionItem close">
                        <h2 class="accordionItemHeading">Why Blockchain?</h2>
                        <div class="accordionItemContent">
                            <p>Blockchains give individuals and companies the ability to transact and operate globally with a newfound level of trust and confidence. However, at present, most people know nothing about the technology aside from its association with Bitcoin.</p>
                            <p>Often, university students are interested in learning about blockchains, but have scarce access to educational material. This is due to the lack of general awareness about blockchain, and a scarcity of teachers. BAF overcomes this hurdle to blockchain mass adoption by educating, connecting, and inspiring its members, who are the next generation of blockchain leaders and users.</p>
                            <p>Blockchains have the potential to touch every aspect of our lives by enabling individuals and companies across the globe to transact and operate with a newfound level of trust and confidence. However, at present, most people know nothing about the technology aside from its association with Bitcoin. Beyond the lack of general awareness surrounding blockchains, university students already interested in the subject have scarce educational opportunities. BAF addresses the hurdles to blockchain mass adoption by educating, connecting and inspiring its next generation of leaders and users.</p>
                        </div>
                      </div>

                      <div class="accordionItem close">
                        <h2 class="accordionItemHeading">What is a 501(c)(3) nonprofit?</h2>
                        <div class="accordionItemContent">
                            <p>Being "501(c)(3)" means that a particular nonprofit organization has been approved by the Internal Revenue Service as a tax-exempt, charitable organization. You may deduct charitable contributions of money or property made to qualified organizations if you itemize your deductions. Generally, you may deduct up to 50 percent of your adjusted gross income, but 20 percent and 30 percent limitations apply in some cases. Learn more about how donating to a 501(c)(3) can help lower your capital gains taxes here.</p>
                        </div>
                      </div>

                      <div class="accordionItem close">
                        <h2 class="accordionItemHeading">Why a 501(c)(3) nonprofit?</h2>
                        <div class="accordionItemContent">
                            <p>When uniting several university-affiliated blockchain clubs under the same roof, a 501(c)(3) nonprofit seemed the best organizational structure. Being a nonprofit gives us the legitimacy needed to manage the delicate balance between a nascent industry and legacy academic institutions. Moreover, having  university club presidents as board members ensures each university has a voice at the table. This better aligns us towards the goal of accelerating blockchain education. Finally, since most universities do not accept cryptocurrency-based donations, establishing a 501(c)(3) nonprofit was the only way to guarantee donors tax deductions when they donate cryptocurrency to tangible blockchain education at universities. We like to see this as an incentive-aligned way for wealthy crypto investors to invest in the future of this emerging industry.</p>
                        </div>
                      </div>

                      <div class="accordionItem close">
                        <h2 class="accordionItemHeading">Do you have a token?</h2>
                        <div class="accordionItemContent">
                            <p>Although we currently don’t have the pressing need for a token, we are working toward making our organization fully digital to streamline decision making processes and allocating funds. We plan to launch a voting token by the end of 2021. There will be no monetary value to our token and it will only be available to active members.</p>
                        </div>
                      </div>

                      <div class="accordionItem close">
                        <h2 class="accordionItemHeading">Where do you see BAF in five years?</h2>
                        <div class="accordionItemContent">
                            <p>Our vision is to become a completely autonomous and self-sustaining incentive-aligned nonprofit, a landmark where passionate people can easily come together to build the future of this industry. Ideally, we aim to grow BAF to a self-sustaining machine able to operate with little central administration, guidance, or leadership. We see BAF as the prototype for a new model of organizations and we are working hard to make this model scalable and replicable.</p>
                        </div>
                      </div>

                      <div class="accordionItem close">
                        <h2 class="accordionItemHeading">How can my club join?</h2>
                        <div class="accordionItemContent">
                            <p>If your university-affiliated blockchain club is interested in becoming BAF’s next partner organization, please fill out this form (It’s not complete). Check out our membership page if you wish to learn more about the benefits your club will gain from joining BAF.</p>
                        </div>
                      </div>

                      <div class="accordionItem close">
                        <h2 class="accordionItemHeading">How can I make a blockchain club at my university or school?</h2>
                        <div class="accordionItemContent">
                            <p>Email info@baf.network to schedule a call to learn more about the best ways to engage students and faculty to join the blockchain revolution!</p>
                        </div>
                      </div>

                      <div class="accordionItem close">
                        <h2 class="accordionItemHeading">IS BAF blockchain agnostic?</h2>
                        <div class="accordionItemContent">
                            <p>Yes! We believe in a world of many blockchains and are most interested in the benefits blockchain can provide rather than unproductive tribalism.</p>                        
                        </div>
                      </div>

                      <div class="accordionItem close">
                        <h2 class="accordionItemHeading">Should I buy Bitcoin or Ether?</h2>
                        <div class="accordionItemContent">
                            <p>Neither BAF nor any member of its team will provide any financial advice. Please do not contact us with this sort of request.</p>
                        </div>
                      </div>

                      <div class="accordionItem close">
                        <h2 class="accordionItemHeading">What is BAF doing to address the overwhelming gender disparity in the blockchain industry?</h2>
                        <div class="accordionItemContent">
                            <p>We are proud members of She256’s Coalition for Diversity that is formed around the thesis of bringing data-driven changes to the blockchain community to encourage a diverse and inclusive ecosystem. We believe decentralization will only come to fruition if the movement is composed of people from all genders, color, economic backgrounds, and walks of life. Despite the industry's overwhelming white male majority, we work hard to ensure the majority of our speaker events are composed of at least 50% women and/or underrepresented people.
                            </p>
                        </div>
                      </div>

                      <div class="accordionItem close">
                        <h2 class="accordionItemHeading">Where is BAF currently based?</h2>
                        <div class="accordionItemContent">
                            <p>The majority of our management team is based in Santa Barbara, California; however, we have board members distributed all across California and Mexico.</p>
                        </div>
                      </div>


                </div>
            </div>

    </body>

</main>

{{partial "footer.html" . }}

<script>
    	var accItem = document.getElementsByClassName('accordionItem');
    var accHD = document.getElementsByClassName('accordionItemHeading');
    for (i = 0; i < accHD.length; i++) {
        accHD[i].addEventListener('click', toggleItem, false);
    }
    function toggleItem() {
        var itemClass = this.parentNode.className;
        for (i = 0; i < accItem.length; i++) {
            accItem[i].className = 'accordionItem close';
        }
        if (itemClass == 'accordionItem close') {
            this.parentNode.className = 'accordionItem open';
        }
    }
</script>

<style>
    .about-body{
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2%;
    }

    #about-info{
        padding-right: 30%;
    }

    #value-cards-container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .value-card{
        width: 85%;
        background-color: var(--fgDark);
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        padding: 2%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 2%;
        box-shadow: var(--bafShadow);
    }

    .value-card p{
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    .value-card:hover p{
        display: flex;
        opacity: 1;
        visibility: visible;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-delay: 0.3s;
    }

    .value-card:hover{
        box-shadow: var(--bafShadowHover);
        transform: translateY(-5px);
        transition: transform .3s;
    }


    .team-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        background-color: var(--fgDark);
        padding: 2%;
        box-shadow: var(--bafShadow);
    }

    .team-card:hover{
        box-shadow: var(--bafShadowHover);
        transform: translateY(-5px);
        transition: transform .3s;
        background-image: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
        background-size: 200% auto;
        background-position: right center;
    }

    .team-card p{text-align: center;}

    #team-members-container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    #FAQ{
        align-items: center;
    }

    #AccordionWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .accordionItem{
        display:block;
        width:85%;
    }

    .accordionItemHeading:hover{
        box-shadow: var(--bafShadowHover);
        transform: translateY(-5px);
        transition: transform .3s;
    }
    .accordionItemHeading{
        cursor:pointer;
        margin:0px 0px 10px 0px;
        padding:10px;
        background:var(--fgDark);
        width:100%;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        box-sizing: border-box;
        font-size: 2rem;
    }

    .close .accordionItemContent{
        height:0px;
        transition:height 1s ease-out;
        -webkit-transform: scaleY(0);
        -o-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        float:left;
        display:block; 
    }

    .open .accordionItemContent{
        padding: 1%;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 100%;
        margin: 0px 0px 10px 0px;
        display:block;
        -webkit-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top;
        -o-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        -webkit-transition: -webkit-transform 0.4s ease-out;
        -o-transition: -o-transform 0.4s ease;
        -ms-transition: -ms-transform 0.4s ease;
        transition: transform 0.4s ease;
        box-sizing: border-box;
    }

    .open .accordionItemHeading{
        background-color: var(--primary);
        color: white;
    }


@media only screen and (min-width: 600px){
    .value-card{width: 40%; }
}

</style>