<footer class = "footer">

    <div class = "footer-content">

        <div class = "content-section" id = "footer-left">
            <img id = "footer-logo" src = "/img/BAF-Branding/logonavbar.png">

            <p>Are you serious about blockchain education? <br>
            <a href="/donate">Donate</a> crypto to accelerate crypto</p>
            
            <p>We <i class="fa fa-heart"></i> BTC and ETH </p>

            <img src="img/Uphold_BTC.png" style="width: 100px">
            <p style="font-size: 12px">BTC - 1FpLdNFuG6dXprP2q28AQNZ5tgE36dDT6a</p>
        </div>
    
        <div class = "content-section" id = "footer-center">
            <h5>Quick Links</h5>
            <a class = "footer-links" href = "#">About</a>
            <a class = "footer-links" href = "#">Programs</a>
            <a class = "footer-links" href = "#">The Hub</a>
            <a class = "footer-links" href = "#">Resources</a>
            <a class = "footer-links" href = "#">Get in Touch</a>
        </div>
    
        <div class = "content-section" id = "footer-right">
            
            <h5>Follow Us</h5>

            <div class="social">
                <a href="https://twitter.com/TheBAFNetwork" target="_blank"><img class = "social-btn" src="/img/twitter.svg" height="40" width="40"></a>
                <a href="https://www.linkedin.com/company/thebafnetwork/" target="_blank"><img class = "social-btn" src="/img/linkedin.svg" height="40" width="40"></a>
                <a href="https://www.facebook.com/TheBAFNetwork/" target="_blank"><img class = "social-btn" src="/img/facebook.svg" height="40" width="40"></a>
                <a href="https://t.me/joinchat/F70K2BCPSN0huhYtb_8jLQ" target="_blank"><img class = "social-btn" src="/img/telegram.svg" height="40" width="40"></a>
                <a href="https://medium.com/@BAF1" target="_blank"><img class = "social-btn" src="/img/medium.svg" height="40" width="40"></a>
                <a href="https://www.youtube.com/channel/UClN34KJfDsCVRs8rJHXH_-A" target="_blank"><img class = "social-btn" src="/img/youtube.svg" height="40" width="40"></a>
            </div>

            <div class="newsletter">
                <p style="font-size: 16px; text-align: center;">Sign up for BAF news, upcoming events, and industry updates.</p>
                <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

                <div id="mc_embed_signup">
                    <form action="https://blockchainacceleration.us20.list-manage.com/subscribe/post?u=1aee8fa70e65bf7267c59c984&amp;id=80f9720235" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
                        <div id="mc_embed_signup_scroll">

                            <div class="mc-field-group text-center">
                                <label for="mce-EMAIL" style = "font-family: 'lato', sans-serif">Email Address</label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1aee8fa70e65bf7267c59c984_80f9720235" tabindex="-1" value="" spellcheck="false" data-ms-editor="true"></div>
                            <div class="clear"><input type="submit" value="Subscribe to Our Newsletter" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>
                <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js">
                </script>
                <script type="text/javascript">
                    (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);
                </script>
                <!--End mc_embed_signup-->
            
            
            </div>

        </div>

    </div>

    <div class = "subfooter">

    </div>

</footer>