<nav id = "navbar">

  <div class = "navbar-top">

    <div class = "logoContainer">
      <a id = "nav-logo-link" href = "/"><img id = "nav-logo" src = "/img/BAF-Branding/logonavbar.png"></a>
    </div>

    <div class = "themeContainer">
      <i class = "fa fa-moon-o fa-2x" id = "theme-switcher"></i>
    </div>

    <div class = "menuContainer" onclick="myFunction()">
      <i class = "fa fa-bars fa-2x" id = "hamburgerMenu"></i>
    </div>

  </div>

  <div class = "nav-links">

    <div class = "menu-items-container">
      <!-- This is the About Button on the header -->
      <div  class = "dropdown">
        <a class = "dropMasterLink" href = "/about">About 
          <i class="fa fa-caret-down"></i>
        </a>
        <div class = "dropdown-content" id="aboutContent">
          <a href="/about/#OurFoundation">Our Foundation</a>
          <a href="/about/#OurStory">Our Story</a>       
          <a href="/about/#Values"> Our Values</a>
          <a href="/about/#Team">Our Team</a>
          <a href="/about/#FAQ">FAQ</a>
        </div>
    </div>

        <!-- This is the Programs Button -->
    <div class = "dropdown">
        <a class = "dropMasterLink" href = "#">Programs 
          <i class="fa fa-caret-down"></i>
        </a>
        <div class = "dropdown-content" id="programsContent">
          <a href="#">Accredited Courses</a>
          <a href="#">Events</a>
          <a href="#">Recruiting</a>
          <a href="#">Projects</a>
        </div>
    </div>

    <a class = "NavItem" href = "#">The Hub</a>
    <a class = "NavItem" href = "#">Resources</a>
          <!-- This is the Get in Touch Button on the header -->
          <div  class = "dropdown">
            <a class = "dropMasterLink" href = "#" id = "getintouch">Get in Touch 
              <i class="fa fa-caret-down"></i>
            </a>
            <div class = "dropdown-content" id="aboutContent">
              <a href = "/members">Membership</a>
              <a href = "/donate">Donate <i class = "fa fa-heart"></i></a>
              <a href="/contact-us">Contact Us</a>
            </div>
        </div>
    </div>

    <script type = "text/javascript">
      $(function () {
        $('.dropMasterLink').doubleTapToGo();
    }); 
  
      function myFunction() {
        var navMenuMobile = document.getElementsByClassName("nav-links")[0];
        var navMenuSymbol = document.getElementById("hamburgerMenu");

        if (navMenuMobile.style.visibility == "visible") {
          navMenuSymbol.setAttribute('class', 'fa fa-bars fa-2x');
          navMenuMobile.style.visibility = "hidden";
          navMenuMobile.style.opacity = "0";
          
        } else {
          navMenuSymbol.setAttribute('class', 'fa fa-times fa-2x');
          navMenuMobile.style.visibility = "visible";
          navMenuMobile.style.opacity = "1";
        }
      }

    </script>
    
</div>

</nav>

