<div class = "navbar">

    <div class = "nav-top-section">

        <div class = "logo-container">
            <a id = "nav-logo-link" href = "#"><img id = "nav-logo" src = "img/logonavbar.png"></a>
        </div>
        
        <div class = "themeContainer">
            <i class="fa fa-sun-o fa-lg" id = "themeswitcher"></i>
            <i class = "fa fa-moon-o fa-lg" id = "themeswitcher-moon"></i>
        </div>
        

    </div>
    


    <div class = "nav-links">

        <!-- This is the About Button on the header -->
        <div  class = "dropdown">
            <a href = "#">About 
              <i class="fa fa-caret-down"></i>
            </a>
            <div class = "dropdown-content" id="aboutContent">
              <a href="#">Our Foundation</a>
              <a href="#">Values</a>
              <a href="#">Team</a>
              <a href="#">FAQ</a>
            </div>
        </div>

            <!-- This is the Programs Button -->
        <div class = "dropdown">
            <a href = "#">Programs 
              <i class="fa fa-caret-down"></i>
            </a>
            <div class = "dropdown-content" id="programsContent">
              <a href="#">Accredited Courses</a>
              <a href="#">Events</a>
              <a href="#">Recruiting</a>
              <a href="#">Projects</a>
            </div>
        </div>

        <a class = "NavItem" href = "#">The Hub</a>
        <a class = "NavItem" href = "#">Resources</a>
        <a class = "NavItem" href = "#">Get in Touch</a>
        
    </div>

</div>